body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
  }
  
  .building {
    width: 100px;
    height: 600px;
    border: 5px solid #06072b;
    position: relative;
    overflow: hidden;
    background-color: #eee;
  }
  
  .elevator {
    width: 100%;
    height: 100px;
    background-color: #f5cf72;
    position: absolute;
    bottom: 0;
  }

  .floor {
    width: 100px;
    height: 2px;
    background-color: rgb(121, 74, 35);
    position: absolute;
  }

  #output {
    font-size: 20px;
    font-weight: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #501572;

    margin-top: 20px; 
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

#faceDirection {
  font-size: 20px;
  font-weight: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #724d15;
  margin-top: 20px; 
  left: 10px;
  text-align: left;
  position: absolute;
  top: 0;
  z-index: 1;
}

#passengers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.passengerLabel {
  color: rgb(142, 131, 221);
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 5px;
}

.passenger {
  width: 20px;
  height: 40px;
  background-color: #4a90e2;
  position: absolute;
  right: 10px; /* Position passengers within the building */
  color: rgb(63, 51, 5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 3px;
}

.passenger.in-elevator {
  left: 20px; /* Position inside the elevator when in-elevator class is added */
}